{% extends "layout.html" %}

{% block page_content %}

  <div class="contact">

    <div class="container">

      <div class="contact-inner">

        <h2>Add your own community</h2>

        <form class="form" method="post" action="/contact">

          <div class="form-control">

            <label class="form-label">Name <span class="form-required">*</span></label>
            <input type="text" class="form-input" />

          </div>

          <div class="form-control">

            <label class="form-label">EMail Address <span class="form-required">*</span></label>
            <input type="text" class="form-input" />

          </div>

          <div class="form-control">

            <label class="form-label">Subject <span class="form-required">*</span></label>
            <input type="text" class="form-input" />

          </div>

          <div class="form-control">

            <label class="form-label">Message <span class="form-required">*</span></label>
            <textarea class="form-input"></textarea>

          </div>


          <div class="form-control">

            <button>Send</button>

          </div>

        </form>

      </div>

    </div>

  </div>
    
{% endblock %}