{% extends "layout.html" %}

{% block page_content %}

  <div class="communities">

    <div class="container">

      <div class="communities-inner">

        {% if groups|length > 0 %}

          <div class="communities-columns">

            <h2>Communities</h2>
            <div class="clearfix"></div>

            <p>Global Tech Communities maintains a list of communities from around the world, the events are then pulled and aggregated on a scheduled basis. <a href="/add">Request to add</a> any communities that we might be missing.</p>

            <div class="clearfix"></div>

            {% for group in groups %}

              <a class="communities-column" href="/communities/{{group.key.id()}}">

                {% if group.thumbnail %}

                  <img class="communities-column-preview" src="{{group.thumbnail}}" />

                {% else %}

                  <img class="communities-column-preview" src="/img/photos/mic.jpg" />

                {% endif %}

                
                <h2 class="communities-column-label">{{group.name}}</h2>
              </a>

              {% if loop.index % 3 == 0 %}

                <div class="clearfix"></div>

              {% endif %}

            {% endfor %}

            <div class="clearfix"></div>

          </div>

          <div class="clearfix"></div>

        {% else %}

          <p>No communities registered yet</p>

        {% endif %}

      </div>

    </div>

  </div>
    
{% endblock %}