{% extends "layout.html" %}

{% block page_content %}

  <div class="segment">

    <div class="container">

      <div class="segment-inner">

        <p><a class="btn" href="/calendar.ics">Sync with your Calendar Program (.ICS)</a></p>

        <br />

        <div class="events-calendar"></div>

        <div class="clearfix"></div>

      </div>

      <div class="clearfix"></div>

    </div>

  </div>
    
{% endblock %}

{% block scripts %}

  <script>

    // the date we doing this for
    var current_date = new Date(parseInt('{{year}}'), parseInt('{{month}}'), 0, 0, 0, 0);
    var entries = [];

    {% for entry in entries %}

      try {entries.push( {{entry|safe}} )} catch(err) {}

    {% endfor %}

    $(document).ready(function() {

      $('.events-calendar').fullCalendar({

        contentHeight: "auto",
        height: "auto",
        header: {
            left: 'prev,next',
            center: 'title',
            right: 'listMonth,month'
        },
        views: {
          listMonth: { buttonText: 'Event Listing' },
          month: { buttonText: 'Calendar' }
        },
        navLinks: true,
        eventLimit: true, // allow "more" link when too many events
        defaultDate: current_date,
        defaultView: 'listMonth',
        editable: false,
        eventLimit: false,
        eventClick: function(calEvent, jsEvent, view) { document.location = calEvent.link; },
        events: entries

      });

      $('.fc-prev-button').unbind();
      $('.fc-prev-button').click(function(e) {

        if(e) e.preventDefault();
        if(e) e.stopPropagation();

        var d = new Date(parseInt('{{year}}'), parseInt('{{month}}'), 1);
        d.setMonth(d.getMonth() - 1);
        // console.log(d);
        document.location = '/events/' + d.getFullYear() + '/' + (d.getMonth());

      });

      $('.fc-next-button').unbind();
      $('.fc-next-button').click(function(e) {

        if(e) e.preventDefault();
        if(e) e.stopPropagation();
        var d = new Date(parseInt('{{year}}'), parseInt('{{month}}'), 1);
        d.setMonth(d.getMonth() + 1);
        // console.log(d);
        document.location = '/events/' + d.getFullYear() + '/' + (d.getMonth());

      });

      $('.events-calendar').fullCalendar('option', 'height', 'auto');
      $('.events-calendar').fullCalendar('option', 'contentHeight', 'auto');

    });

  </script>

{% endblock %}