{% extends "layout.html" %}

{% block page_content %}

  <div class="faq">

    <div class="container">

      <div class="faq-inner">

        <h2 class="faq-header">GENERAL</h2>

        <h4 class="faq-heading">What is Global Tech Communities?</h4>
        <p class="faq-answer">Global Tech Communities is a database of tech communities. Please add your event or tech community, or any that you know of to make this database as complete as possible.</p>

        <h4 class="faq-heading">Who created this website?</h4>
        <p class="faq-answer"><a href="http://robynfarah.com/">Robyn Farah</a> from <a href="http://www.kato.global/">KATO</a> created this site as her aim is to connect people in different tech sectors with those interested in tech in the easiest way possible.</p>

        <h4 class="faq-heading">Who can join this site?</h4>
        <p class="faq-answer">Anyone can join this site. In order to be part of the database, you need to be running a tech event and/or community. </p>



        <h2 class="faq-header">EVENTS</h2>

        <h4 class="faq-heading">How do I find an event near me? </h4>
        <p class="faq-answer">Please go here and search. If you still don't find what you are looking for please contact us here.</p>

        <h4 class="faq-heading">Can I add an event that I am running or know of?</h4>
        <p class="faq-answer">Yes, please send us info on all tech events you know of here.</p>

        <h4 class="faq-heading">How do I add an event that I am running or know of?</h4>
        <p class="faq-answer">Please send us info on all tech events you know of here.</p>

        <h4 class="faq-heading">There are no events near me, I'd like to create one but I need some guidance, do you offer this?</h4>
        <p class="faq-answer">We would love to share our manual on how to run an event with you and give you mentorship. Please fill this in and we shall be in touch.</p>


        <h2 class="faq-header">COMMUNITIES</h2>

        <h4 class="faq-heading">How do I find a community near me? </h4>
        <p class="faq-answer">Please go here and search. If you still don't find what you are looking for please contact us here.</p>

        <h4 class="faq-heading">Can I add a community that I am running or know of?</h4>
        <p class="faq-answer">Yes, please send us info on all tech communities you know of here.</p>

        <h4 class="faq-heading">How do I add a community that I am running or know of?</h4>
        <p class="faq-answer">Please send us info on all tech communities you know of here.</p>

        <h4 class="faq-heading">There are no communities near me, I'd like to create one but I need some guidance, do you offer this?</h4>
        <p class="faq-answer">Yes, we would love to share our manual on how to run a community with you and give you mentorship. Please fill this in and we shall be in touch. </p>

        <h2 class="faq-header">SPONSORING</h2>

        <h4 class="faq-heading">We are interested in sponsoring a communities and/or event. Where do we sign up?</h4>
        <p class="faq-answer">Great, please fill this in and we’ll be in touch to discuss and make sure our goals align so that we both the get most out of partnering with each other.</p>

      </div>

    </div>

  </div>
    
{% endblock %}