{% extends "layout.html" %}

{% block page_content %}

  <div class="segment">

    <div class="container">

      <div class="segment-inner">

        <h3>Most popular upcoming Events:</h3>

        {% if items|length > 0 %}

          <div class="events">

            {% for item in items %}
        
              <a class="event" href="/events/{{item['event'].key.id()}}">
                <img class="event-preview" src="{{item['group'].thumbnail}}" />
                <div class="event-heading-meta">
                  <h3 class="event-heading">{{item['event'].title}}</h3>
                  <p class="event-description">{{item['event'].description}}</p>
                </div>
                <div class="clearfix"></div>
              </a>

              {% if loop.index % 3 == 0 %}

                <div class="clearfix"></div>

              {% endif %}

            {% endfor %}

            <div class="clearfix"></div>

            <p><a href="/events">View all upcoming events</a></p>

          </div>

          <div class="clearfix"></div>

        {% else %}

          <p>No upcoming events found</p>

        {% endif %}

      </div>

      <div class="clearfix"></div>

    </div>

    <div class="clearfix"></div>

  </div>

  <div class="segment">

    <div class="container">

      <div class="segment-inner">

        <h3>Sponsors:</h3>

        <p>Thanks to these great companies helping the local tech eco-system:</p>

        <p>TODO list companies here</p>

      </div>

    </div>

  </div>
    
{% endblock %}