
{% extends "layout.html" %}

{% block page_content %}

    <div class="search-results container">

        <h2>Results for {{ term }}</h2>

        {% if groups|length > 0 %}
            {% for group in groups %}
                <div class="group-container">
                    <a href="/communities/{{ group.document_id[0].value }}">
                        <img src="{{ group.image[0].value }}">
                        <h3>{{ group.name[0].value }}</h3>
                        <div class="group-snippet">{{ group.expressions[0].value |safe }}</div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
                <p>No results</p>
        {% endif %}        

    </div>

{% endblock %}