.footer {

  .reset();

  .footer-inner {

    .reset();
    padding: 60px 0;

    .footer-logo {

      .reset();
      margin: 0 auto;
      margin-bottom: 30px;
      display: table;
      
      img {

        .reset();
        height: 32px;

      }

    }

    .footer-links {

      .reset();
      margin: 0 auto;
      display: table;

    }

    .footer-link {

      margin: 0 10px;
      color: white;
      text-transform: uppercase;
      font-size: 14px;
      text-transform: none;

    }

    .footer-link:hover {

      .opacity(60);
      cursor: pointer;

    }

  }

}