@import 'reset';
@import 'utils';

html, body {
	
	margin: 0;
	padding: 0;
	
	color: #1e1e1e;
  background-color: #171717;
	text-rendering: optimizeLegibility;

	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

h1, h2, h3, h4, h5, h6 {

	color: #1e1e1e;
	font-weight: bold;
	// font-size: 15px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;

}

p, td {
	
	color: #363636;
	font-size: 15px;
  line-height: 24px;

}

a {

	text-decoration: none;

}

a:hover {

	text-decoration: underline;

}

@import 'container';
@import 'header';
@import 'home';
@import 'admin';
@import 'communities';
@import 'community';
@import 'faq';
@import 'form';
@import 'contact';
@import 'sponsor';
@import 'event';
@import 'tcs';
@import 'disclaimer';
@import 'events';
@import 'segment';
@import 'content';
@import 'footer';